@charset"UTF-8";
/* Kommentar */
div {
    width: 100px;
    height: 100px;
    background: #6134EB;
    animation-name: move-box;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 6000;
    animation-direction: alternate;
}

@keyframes move-box{
    from {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        background: #6134EB;
    }
    to {
        transform: translateX(300px) translateY(300px) rotate(500deg);
        background: #E65D7B;
    }
}